.containerForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}
.stars {
  display: flex;
}

@media screen and (max-width: 600px) {
  .containerForm {
    flex-direction: column;
  }
  .formItems {
    display: flex;
    flex-direction: column;
  }
}
.commentsContainer {
  display: flex;
  margin-top: 1rem;
}
