@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --blue-50: #eaf2ff;
  --blue-100: #dae7ff;
  --blue-200: #bcd2ff;
  --blue-300: #93b4ff;
  --blue-400: #6889ff;
  --blue-500: #455eff;
  --blue-600: #2530ff;
  --blue-700: #2027e9;
  --blue-800: #1820bb;
  --blue-900: #1d2692;
  --blue-950: #111455;
  background: black;
}
