.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  background: linear-gradient(var(--blue-200), var(--blue-100));
  color: var(--blue-900);
  box-shadow: 4px 4px 4px var(--blue-900);
}
.listContainer {
  display: flex;
  flex-direction: column;
  background: var(--blue-200);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.link:hover {
  transform: scale(1.2);
  color: red;
}
