.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background: linear-gradient(var(--blue-200), var(--blue-100));
  color: var(--blue-900);
  box-shadow: 4px 4px 4px var(--blue-900);
}
.btn {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px var(--blue-900);
  background: linear-gradient(var(--blue-200), var(--blue-100));
  color: var(--blue-900);
}
