.img {
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  object-fit: fill;
}
.header {
  color: var(--blue-400);
}
.containerHeader {
  text-align: center;
  margin: 1rem;
}
.btnContainer {
  display: flex;
  flex-direction: column;
}
.btn {
  text-align: center;
  color: var(--blue-500);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerImg {
  border: 4px solid black;
  border-radius: 1rem;
  background-color: rgba(181, 169, 169, 0.86);
}
@media screen and (max-width: 100px) {
  .container {
    width: 50vw;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 60vw;
  }
}
@media screen and (max-width: 650px) {
  .container {
    width: 75vw;
  }
}
@media screen and (max-width: 300px) {
  .container {
    width: 100vw;
  }
}
