.img {
  width: auto;
  border-radius: 1rem;
}
.header {
  color: var(--blue-400);
}
.containerHeader {
  text-align: center;
  margin: 1rem;
}
.btnContainer {
  display: flex;
  flex-direction: column;
}
.btn {
  text-align: center;
  color: var(--blue-500);
}
